// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import "~@nativescript/theme/core";
@import "~@nativescript/theme/default";

// Override variables here

// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling


// Custom styles

.main-content {
  font-size: 18;
  font-family: "Roboto", "Roboto-Regular";
}

.fa {
  font-family: "FontAwesome", 'fa-regular-400';
}
.fas {
  font-family: "FontAwesome", 'fa-solid-900';
}


.item-template-label {
  margin-left: 20;
}

PickerField.picker {
  margin: 10;
  height: 40;
  color: #fff;
  placeholder-color: #DDD;
  background: #404040;
  font-size: 18;
}

.red {
  color: #ff4444;
}
.yellow {
  color: #ffbb33;
}
.green {
  color: #00c851;
}
.blue {
  color: #33b5e5;
}